<nav>
  <% if logged_in? %>
    Logged in as: <%= current_user.name %>
    <%= link_to "Log Out", logout_path %>
    <%= link_to "New Post", new_post_path %>
  <% else %>
    <%= link_to "Login", login_path %>
    <%= link_to "Sign Up", signup_path %>
  <% end %>
</nav>
